.splash-container {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: var(--background-color);
    animation: fadeIn .8s ease;
}

.logo {
    width: 180px;
    margin-bottom: 24px;
}

h1 {
    color: var(--text-color);
    margin: 0;
}

p {
    color: #6B7280;
    margin-bottom: 40px;
}

.progress {
    width: 320px;
    height: 8px;

    background: #E5E7EB;

    border-radius: 999px;

    overflow: hidden;
}

.progress-bar {

    height: 100%;

    background: var(--color-primary);

    transition: width .8s linear;

}

.version {

    margin-top: 40px;

    color: #9CA3AF;

    font-size: 12px;

}

.fade-out {

    animation: fadeOut 10s ease forwards;

}

@keyframes loading {

    from {
        width: 0%;
    }

    to {
        width: 100%;
    }

}

@keyframes fadeIn {

    from {

        opacity: 0;

        transform: translateY(15px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}

@keyframes fadeOut {

    from {

        opacity: 1;

        transform: translateY(0);

    }

    to {

        opacity: 0;

        transform: translateY(-12px);

    }

}