.splash-container {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background: var(--background-color);
}

.logo {
    width: 180px;
    margin-bottom: 24px;
}

h1 {
    color: var(--text-color);
    margin: 0;
}

p {
    color: #6B7280;
    margin-bottom: 40px;
}

.progress {
    width: 320px;
    height: 8px;

    background: #E5E7EB;

    border-radius: 999px;

    overflow: hidden;
}

.progress-bar {

    width: 0;

    height: 100%;

    background: var(--primary-color);

    animation: loading 2s linear forwards;

}

.version {

    margin-top: 40px;

    color: #9CA3AF;

    font-size: 12px;

}

@keyframes loading {

    from {
        width: 0%;
    }

    to {
        width: 100%;
    }

}