<main class="page-content">

  <app-page-header
    title="Meu Perfil">
  </app-page-header>

  <form class="form-card" [formGroup]="form" (ngSubmit)="salvarPerfil()">

    <div class="profile-avatar">

      {{ account.perfil()?.nome?.[0]?.toUpperCase() }}

    </div>

    @if (!editando()) {

      <h2>
        {{ account.perfil()?.nome }}
      </h2>

    } @else {

      <input
        type="text"
        formControlName="nome"
        placeholder="Nome">

    }

    @if (!editando()) {

      <p class="profile-email">
        {{ account.perfil()?.email }}
      </p>

    } @else {

      <input
        type="email"
        formControlName="email"
        placeholder="Email">

    }

    <hr>

    <div class="info-item">

      <span>CPF</span>

      <strong>{{ account.perfil()?.cpf }}</strong>

    </div>

    <div class="info-item">

      <span>Agência</span>

      <strong>{{ account.perfil()?.agencia }}</strong>

    </div>

    <div class="info-item">

      <span>Conta</span>

      <strong>{{ account.perfil()?.numero }}</strong>

    </div>

    <div class="info-item">

      <span>Saldo Atual</span>

      <strong>

        {{ account.saldo() | currency:'BRL' }}

      </strong>

    </div>

    @if (!editando()) {

      <a
        class="edit-link"
        (click)="editarPerfil()">

        ✏️ Editar perfil

      </a>

    } @else {

    <div class="actions">

      <button
        type="button"
        (click)="cancelarEdicao()">

        Cancelar

      </button>

      <button
        type="submit">

        Salvar

      </button>

    </div>

    }

  </form>

</main>